:root {
   --primary: #000000;
   --secondary: #f3a847;
   --tertiary: #000000;
   --light: #fafafa;
   --dark: #272f32;
   --error: rgb(228, 46, 1);
   --spacing-one: calc(1rem * 0.5);
   --spacing-two: calc(1rem);
}

* {
   box-sizing: border-box;
}

html,
body {
   min-height: 100%;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Urbanist", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   font-size: 16px;
   color: var(--dark);
}

h6 {
   font-family: "Urbanist", sans-serif;
   font-weight: 500;
   margin: 5px 0;
   line-height: 1.25;
}

h1 {
   font-size: 3.25rem;
   color: #000000;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.75rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
   font-size: 1.25rem;
}

h6 {
   font-size: 1rem;
}

p {
   font-size: 1.1rem;
   margin-top: 0;
}

a {
   text-decoration: none;
   font-weight: bold;
}
a:link {
   color: #fafafa;
}
a:visited {
   color: #fafafa;
}
a:hover {
   color: #272f32;
}

.header a:link {
   color: var(--primary);
}
.header a:visited {
   color: #000000;
}

button {
   font-size: 1rem;
   text-decoration: none;
   padding: 0.25rem 1rem;
   border-radius: 0.5rem;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0 1px;
   background-color: var(--secondary);
}

button:hover {
   opacity: 0.8;
   color: #129acb;
}

button[disabled] {
   cursor: default;
   opacity: 0.8;
}

img {
   max-width: 100%;
}

span[role="img"] {
   cursor: default;
}

input {
   font-size: 1rem;
   padding: 0.25rem;
   border: 1px solid var(--dark);
   outline: none;
   border-radius: 3px;
   transition: box-shadow 0.2s;
}

input:focus {
   border: 1px solid var(--secondary);
   box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.nav {
   justify-content: center;
   justify-content: space-around;
   background-color: #000000;
}

.nav-item {
   list-style-type: none;
   color: var(--light);
}

.home-heading {
   color: var(--dark);
}
.container {
   width: 85%;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

.error-text {
   color: var(--error);
}

.img-home {
   max-width: 300px;
}

.card {
   flex-direction: row;
}
.card img {
   width: 30%;
}

@media screen and (max-width: 768px) {
   .card {
      width: 100%;
   }
}
